* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
	font-family: Helvetica;
}
.container {
	width: 100%
}
.section {
	background: #e6e6e6;
	border: 1px solid black;
	position: relative;
	margin: 12px;
	min-height: 135px
}
h1 {
  text-align: center;
  margin: 20px 0px 30px 0px;
}
h2 {
  border: 1px solid black;
  width: 33.33%;
  height: 40px;
  text-align: center;	
  padding: 10px 0px 40px 0px;
  position: absolute; 
  top: 0;
  right: 0;
}
p {
	padding: 60px 10px 5px 10px;
}
#ch {
	background-color: yellow;
}
#be {
	background-color: pink;
}
#su {
	background-color: #99ff99;
}

/*-- Desktop --*/
@media (min-width: 992px) { 
	.col-md-4 {
		width: 33.33%; 
		float: left; 
	}
}
/*-- Tablet --*/
@media (min-width: 768px) and (max-width: 991px) {
	.col-sm-6, .col-sm-12 {
		float: left; 
	} 
	.col-sm-6 {
		width: 50%; 
	} 
	.col-sm-12{
		width: 100%; 
	}
}
/* Mobile */
@media (max-width: 767px) {
	.col-xs-12 {
		width: 100%; 
	}
}