* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

#container {
	width: 100%
}
.col {
	background: #e6e6e6;
	border: 1px solid black;
	position: relative;
	margin: 1%;
}
h1 {
  font-family: Helvetica;
  text-align: center;
  margin: 20px 0px 30px 0px;
}
h2 {
  border: 1px solid black;
  width: 33.33%;
  height: 40px;
  font-family: Helvetica;
  text-align: center;	
  padding: 10px 0px 40px 0px;
  margin: 0;
  position: absolute; 
  top: 0;
  right: 0;
}
#ch {
	background-color: yellow;
}
#be {
	background-color: pink;
}
#su {
	background-color: #99ff99;
}
p {
	padding: 60px 10px 0px 10px;
	font-family: Helvetica;
}

/*-- Desktop --*/
@media (min-width: 992px) { 
	.col {
		width: 31.33%; 
		float: left; 
		min-height: 135px;
	}
}
/*-- Tablet --*/
@media (min-width: 768px) and (max-width: 991px) {
	.col {
		float: left; 
		min-height: 140px;
	} 
	#col-1, #col-2 {
		width: 48%; 
	} 
	#col-3 {
		width: 98%; 
	}
}
/* Mobile */
@media (max-width: 767px) {
	.col {
		width: 98%; 
	}
}