body {
	font-family: Helvetica;
	background-color: yellow;
}
/*---Header---*/
#header-nav {
	background-color: pink;
	border-radius: 0;
	border: 0;
	height: 100px;
}
.navbar-brand {
  padding-top: 25px;
}
.navbar-brand h1 { /* Restaurant name */
  font-family: Helvetica;
  margin-top: 0;
  margin-bottom: 0;
  line-height: .75;
}
.navbar-brand a:hover, .navbar-brand a:focus {
  text-decoration: none;
}
.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
	border: 1px solid black;
}
.navbar-header button.navbar-toggle {
  clear: both; 
}
#collapsable-nav {
	background-color: #e6e6e6;
}
/*---Main Content---*/

#menu {
	height: 1000px;
	background-color: #99ff99;
}
h2 {
	padding-bottom: 10px;
}
